.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 20px;
    text-align: center;
    color: white;
}
.locImg{
    margin-bottom: 10px;
    border-radius: 5px;
}
.pagination{
    justify-content: center;
    margin: 20px auto;
    width: 100%;
}
.pagination button {
    width: 100px;
    margin: 5px;
    background:#67bf4d;
    color: black;
    border-color: #67bf4d;
}
.pagination button:hover{
    background: transparent;
    color: #67bf4d;
    border-color: #67bf4d;
    transition: ease 0.2s;
}
.intro{
    width: 90%;
    text-align: center;
    color: #67bf4d;
    margin: 20px auto;
}
.intro p{
    color: #67bf4d;
}
.top{
    display: none;
}
@media(max-width: 1100px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .intro img{
        width: 80%;
    }
}
@media(max-width: 500px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}